.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fakturaoversikt {
  line-height: 1rem;
  width: 20rem;
  margin-bottom: 4rem;
}

.fakturaTop{
  line-height: 0.5rem;
  margin-bottom: -1rem;
}

.fakturaLine {
  height: 1.5rem;
  display: grid;
  grid-template-columns: 7rem 1fr;
  align-items: center;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 20rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  font-weight: 300;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.coverIMG {
  width: 25rem;
  height: 25rem;
  background-image: url("/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  .coverIMG {
    width: 100%;
  }
}